{% extends 'hospital/doctor_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<div>

  <h5>Prescriptions for {{ patient.get_name }}</h5>
<div class="prescription-details"></div>
{% if prescriptions %}
    <ul>
        {% for prescription in prescriptions %}
            <li class="prescription-item">
                <div><strong>Created Date:</strong> {{ prescription.created_date }}</div>
                <div><strong>Medicine Name:</strong> {{ prescription.medicine_name }}</div>
                <div><strong>Frequencies:</strong> {% if prescription.frequency_morning %}Morning {% endif %} {% if prescription.frequency_afternoon %}Afternoon {% endif %} {% if prescription.frequency_night %}Night {% endif %}</div>
                <div><strong>Duration:</strong> {{ prescription.duration }}</div>
                <div><strong>Remarks:</strong> {{ prescription.remarks }}</div>
                
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No prescriptions found for {{ patient }}.</p>
{% endif %}
</div>
<div>

  <h3>Add Prescription for {{patient.get_name}}</h3>
  <form class="mx-4 my-4" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group ">
          <label for="{{ form.medicine_name.id_for_label }}" class="font-weight-bold">Medicine Name</label>
          {{ form.medicine_name }}
      </div>
      <div class="form-group">
          <label for="{{ form.frequency_morning.id_for_label }}" class="font-weight-bold">Frequency</label>
          <div class="form-check">
              {{ form.frequency_morning }}
              <label class="form-check-label mx-2" for="{{ form.frequency_morning.id_for_label }}">
                Morning
              </label>
          </div>
          <div class="form-check">
              {{ form.frequency_afternoon }}
              <label class="form-check-label mx-2" for="{{ form.frequency_afternoon.id_for_label }}">
                Afternoon
              </label>
          </div>
          <div class="form-check">
              {{ form.frequency_night }}
              <label class="form-check-label mx-2" for="{{ form.frequency_night.id_for_label }}">
                Night
              </label>
          </div>
      </div>
      <div class="form-group">
          <label for="{{ form.duration.id_for_label }}" class="font-weight-bold">Duration</label>
          {{ form.duration }}
      </div>
      <div class="form-group">
          <label for="{{ form.remarks.id_for_label }}" class="font-weight-bold">Remarks</label>
          {{ form.remarks }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


{% if prescription_added %}
<script>
  alert("Prescription added successfully.");
</script>
{% endif %}
  
<br><br><br><br><br><br><br>

{% endblock content %}